.Footer {
  margin-top: 0.5em;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.footer__text {
  text-align: center;
}

.dark-mode .footer__text {
  color: var(--clr-white);
}
