.card {
  background: var(--clr-white);
  margin-top: 1em;

  padding: 2em 1.5em 3em;

  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  visibility: visible; /* https://css-tricks.com/snippets/css/toggle-visibility-when-hiding-elements/ */
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.card__main-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 1.15em;
  row-gap: 1em;
}

.card__avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid var(--clr-blue);
  overflow: hidden;
  background: var(--clr-very-light-gray);
  margin-top: 0.5em;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__inner-grid-1 {
  /* As children grid */
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.starting-date {
  margin-top: 0.5em;
}

.card__inner-grid-2 {
  /* As children grid */
  grid-column: 1/ -1;
  grid-row: 2/ -1;

  margin-top: 2em;

  /* As mother grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.5em;
}

.bio {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

.stats {
  background: var(--clr-very-light-gray);
  border-radius: 0.5em;
  padding: 1.125em 1.75em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.measure {
  text-align: center;
}

.measure__unit {
  margin-top: 0.75em;
}

.info {
  display: flex;
  flex-direction: column;
  place-content: flex-start flex-start;
  gap: 1em;
}

.info--list {
  display: grid;
  gap: 1em;

  list-style: none;
}

.list-el {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8125em;
}

/* Dark Mode */

.dark-mode .card {
  background: var(--clr-dark-blue);
}

.dark-mode .stats {
  background-color: var(--clr-almost-black);
}

.dark-mode .full-name,
.dark-mode .date,
.dark-mode .bio,
.dark-mode .measure__name,
.dark-mode .measure__unit,
.dark-mode .list-el {
  color: var(--clr-white);
}

/* Fill property doesn't seem to accept variables */
.dark-mode .icon-twitter path,
.dark-mode .icon-location path,
.dark-mode .icon-website path,
.dark-mode .icon-company path {
  fill: var(--clr-white);
}

/* Tablet */
@media (min-width: 768px) {
  /* Card */
  .card {
    margin-top: 1.5em;

    padding: 2.5em;
  }

  .card__main-grid {
    column-gap: 2.5em;
    row-gap: 1.5em;
  }

  .card__avatar {
    width: 117px;
    height: 117px;
    margin-top: 0;
  }

  .starting-date {
    margin-top: 0;
  }

  .card__inner-grid-2 {
    margin-top: 0;

    /* As mother grid */
    row-gap: 1.875em;
  }

  .stats {
    padding: 1em 2em 0.75em;

    justify-content: center;
  }

  .measure {
    text-align: left;
    width: 100%;
  }

  .info {
    flex-direction: column;
    gap: 1.25em;
  }

  .info--list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 1.1875em;
  }

  .list-el {
    font-size: var(--fs-15);
    width: 100%;

    gap: 1em;
  }

  .list-el--location {
    grid-row: 1 / 2;
    grid-column: 1 /2;
  }
  .list-el--blog {
    grid-row: 2 / 3;
    grid-column: 1 /2;
  }
  .list-el--twitter {
    grid-row: 1 / 2;
    grid-column: 2 /3;
  }
  .list-el--company {
    grid-row: 2 / 3;
    grid-column: 2 /3;
  }
}

/* LAPTOP */
@media (min-width: 1030px) {
  /* Utility styles */
  .wrapper {
    max-width: 730px;
  }

  /* SECTIONS */

  /* Card */
  .card {
    padding: 3em;
  }

  .card__main-grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(10, auto);
    column-gap: 2em;
    row-gap: 0em;
  }

  .card__avatar {
    grid-row: 1 / 4;
  }

  .card__inner-grid-1 {
    /* As children grid */
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    /* As mother grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content: flex-start;
  }

  .full-name {
    grid-column: 1 /2;
    grid-row: 1 /2;
  }

  .github-handle {
    grid-column: 1 /2;
    grid-row: 2 /3;
  }
  .starting-date {
    grid-column: 2 /3;
    grid-row: 1 /2;
  }

  .card__inner-grid-2 {
    /* As children grid */
    grid-column: 2/ -1;
    grid-row: 3/ -1;

    margin-top: 0;

    /* As mother grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 2.15em;
  }
}
