.form {
  background: var(--clr-white);
  border-radius: 0.5em;
  height: 60px;
  padding: 0.4em 0.4em 0.4em 0.5em;

  display: flex;
  place-items: center;
  box-shadow: var(--box-shadow);

  position: relative;
}

.svg-icon-search {
  padding-top: 0.625em;
  margin-right: 0.5em;
}

.svg-icon-search svg {
  transform: scale(0.85);
}

.error-message {
  display: block;

  position: absolute;
  top: 15px;
  right: 100px;
  color: var(--clr-red);
}

/* Dark Mode */

.dark-mode input[type='text'] {
  color: var(--clr-white);
}

.dark-mode input::placeholder {
  color: var(--clr-white);
}

.dark-mode .form {
  background: var(--clr-dark-blue);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  /* Form */
  .form {
    padding: 0.6em 0.4em 0.6em 2em;
    height: 70px;
  }

  .svg-icon-search {
    margin-right: 1.5em;
  }

  .error-message.show {
    top: 20px;
    right: 140px;
  }
}
