.Toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode__light {
  display: flex;
  place-content: center;
  gap: 1em;

  margin-top: 0.5em;
}

.title.dark-mode {
  color: var(--clr-white);
}

.mode__type.dark-mode {
  color: var(--clr-white);
}
