@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Space Mono', monospace;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Primary */
  --clr-blue: hsla(212, 100%, 50%, 1);
  --clr-faded-blue: hsl(212, 100%, 69%);
  --clr-red: hsla(0, 91%, 62%, 1);

  /* Light Mode */
  --clr-gray: hsla(217, 20%, 51%, 1);
  --clr-asphalt: hsla(217, 35%, 45%, 1);
  --clr-very-dark-blue: hsla(217, 21%, 21%, 1);
  --clr-very-light-gray: hsl(228, 100%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* Dark Mode */
  --clr-almost-black: hsla(220, 40%, 13%, 1);
  --clr-dark-blue: hsla(222, 41%, 20%, 1);

  --box-shadow: 4.2px 8.3px 8.3px hsla(217, 35%, 45%, 0.1);
}

body {
  color: var(--clr-asphalt);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.92;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-26);
  font-weight: var(--fw-bold);
  text-transform: lowercase;
}

.mode__type {
  font-size: var(--fs-13);
  font-weight: var(--fw-bold);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.full-name {
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-blue);
}

.github-handle {
  font-size: var(--fs-13);
  color: var(--clr-blue);
}

.starting-date {
  font-size: var(--fs-13);
  color: var(--clr-gray);
}

.bio {
  font-size: var(--fs-13);
}

.measure__name {
  font-size: var(--fs-11);
}

.measure__unit {
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-blue);
}

.list-el {
  font-size: var(--fs-13);
}

.footer__text {
  font-size: var(--fs-10);
  color: var(--clr-gray);
}

/* ================== */
/* Links */
/* ================== */

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

.footer__link {
  color: var(--clr-almost-black);
  font-weight: var(--fw-bold);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  display: inline-block;
  height: 100%;
  padding: 0.75em 1em;
  border-radius: 0.625em;
  background: var(--clr-blue);
  border: none;
  font-family: inherit;
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--clr-faded-blue);
}

input[type='text'] {
  background-color: transparent;
  font-family: var(--ff-main);
  font-size: var(--fs-13);
  border: none;
  flex-grow: 2;
  outline: none;
  color: var(--clr-almost-black);
}

input::placeholder {
  font-family: var(--ff-main);
  font-size: var(--fs-13);
  color: var(--clr-asphalt);
  letter-spacing: -0.5px;
}

input:focus::placeholder {
  color: transparent;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  max-width: 475px;
  padding: 2em 1.5em 4.875em;
  margin: 0 auto;
}

.less-opacity {
  opacity: 0.5;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 400px) {
  .wrapper {
    padding: 2em 1.5em 10em;
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* Typography */
  .full-name {
    font-size: var(--fs-26);
  }

  .github-handle {
    font-size: var(--fs-16);
  }

  .starting-date {
    font-size: var(--fs-15);
  }

  .bio {
    font-size: var(--fs-15);
  }

  .measure__name {
    font-size: var(--fs-13);
  }

  .measure__unit {
    font-size: var(--fs-22);
  }

  .list-el {
    font-size: var(--fs-15);
  }

  .footer__text {
    font-size: var(--fs-10);
    color: var(--clr-gray);
  }

  /* Buttons & inputs */
  input[type='text'] {
    font-size: var(--fs-18);
  }

  input::placeholder {
    font-size: var(--fs-18);
  }

  .btn {
    display: inline-block;
    height: 100%;
    padding: 0.75em 1.45em;
    border-radius: 0.625em;

    font-size: var(--fs-16);
  }

  /* Utility styles */
  .wrapper {
    max-width: 573px;
    padding: 8.75em 0 14.75em;
    margin: 0 auto;
  }
}
